src/META-INF/wsdl/picprod04.cantv.com.ve_8080/mule/services/IPTV_0037/IPTV0037ValidarClienteIPTV.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://validatecustomeriptv.webservice.bss.iptv.cantv.com.ve/ValidateCustomerIPTV/" name="ValidateCustomerIPTV" targetNamespace="http://validatecustomeriptv.webservice.bss.iptv.cantv.com.ve/ValidateCustomerIPTV/">
        <wsdl:types>
                <xsd:schema elementFormDefault="qualified" targetNamespace="http://validatecustomeriptv.webservice.bss.iptv.cantv.com.ve/ValidateCustomerIPTV/">
                        <xsd:element name="ValidateCustomerIPTV" type="tns:ValidateCustomerIPTVInput">
                        </xsd:element>
                        <xsd:element name="ValidateCustomerIPTVResponse" type="tns:ValidateCustomerIPTVOutput">
                        </xsd:element>
                        <xsd:complexType name="ValidateCustomerIPTVInput">
                                <xsd:sequence>
                                        <xsd:element name="idAccount" type="xsd:string"/>
                                        <xsd:element name="telephoneLine" type="tns:TelephoneLine"/>
                                </xsd:sequence>
                        </xsd:complexType>
                        <xsd:complexType name="ValidateCustomerIPTVOutput">
                                <xsd:sequence>
                                        <xsd:element name="isCustomer" type="xsd:boolean"/>
                                </xsd:sequence>
                        </xsd:complexType>
                        <xsd:complexType name="TelephoneLine">
                                <xsd:sequence>
                                        <xsd:element name="billingAccountKenan" type="xsd:string">
                                        </xsd:element>
                                        <xsd:element name="codeArea" type="xsd:long"/>
                                        <xsd:element name="phoneNumber" type="xsd:long"/>
                                </xsd:sequence>
                        </xsd:complexType>
                        <xsd:element name="ValidateCustomerIPTVFault">
                                <xsd:complexType>
                                        <xsd:sequence>
                                                <xsd:element name="ValidateCustomerIPTVFault" type="xsd:string">
                                                </xsd:element>
                                        </xsd:sequence>
                                </xsd:complexType>
                        </xsd:element>
                </xsd:schema>
        </wsdl:types>
        <wsdl:message name="ValidateCustomerIPTVRequest">
                <wsdl:part element="tns:ValidateCustomerIPTV" name="parameters">
                </wsdl:part>
        </wsdl:message>
        <wsdl:message name="ValidateCustomerIPTVResponse">
                <wsdl:part element="tns:ValidateCustomerIPTVResponse" name="parameters">
                </wsdl:part>
        </wsdl:message>
        <wsdl:message name="ValidateCustomerIPTVFault">
                <wsdl:part element="tns:ValidateCustomerIPTVFault" name="parameters">
                </wsdl:part>
        </wsdl:message>
        <wsdl:portType name="ValidateCustomerIPTV">
                <wsdl:operation name="ValidateCustomerIPTV">
                        <wsdl:input message="tns:ValidateCustomerIPTVRequest">
                        </wsdl:input>
                        <wsdl:output message="tns:ValidateCustomerIPTVResponse">
                        </wsdl:output>
                        <wsdl:fault message="tns:ValidateCustomerIPTVFault" name="fault">
                        </wsdl:fault>
                </wsdl:operation>
        </wsdl:portType>
        <wsdl:binding name="ValidateCustomerIPTVSOAP" type="tns:ValidateCustomerIPTV">
                <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
                <wsdl:operation name="ValidateCustomerIPTV">
                        <soap:operation soapAction="http://validatecustomeriptv.webservice.bss.iptv.cantv.com.ve/ValidateCustomerIPTV/ValidateCustomerIPTV"/>
                        <wsdl:input>
                                <soap:body use="literal"/>
                        </wsdl:input>
                        <wsdl:output>
                                <soap:body use="literal"/>
                        </wsdl:output>
                        <wsdl:fault name="fault">
                                <soap:fault name="fault" use="literal"/>
                        </wsdl:fault>
                </wsdl:operation>
        </wsdl:binding>
        <wsdl:service name="ValidateCustomerIPTV">
                <wsdl:port binding="tns:ValidateCustomerIPTVSOAP" name="ValidateCustomerIPTVSOAP">
                        <soap:address location="http://picpw07:8080/mule/services/IPTV_0037/IPTV0037ValidarClienteIPTV"/>
                </wsdl:port>
        </wsdl:service>
</wsdl:definitions>